@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content pre {
  background-color: #1e293b;
  border: 1px solid rgb(82, 82, 82);
  color: rgb(227, 227, 227);
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: auto;
}

.post-content p code {
  background-color: #1e293b !important;
  color: white;
  padding: 0 0.2rem;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
